<main class="main-login">
    <br />
    {{#if errorMessage}}
    <div class="user-message user-message-error">{{ errorMessage }}</div>
    {{/if}}
    <div class="card">
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-group">
                <label class="form-control-label" for="inputDanger1">Password</label>
                <input type="password" name="password" class="form-control is-invalid" id="inputInvalid">
            </div>
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="passwordToken" value="{{passwordToken}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit" class="btn btn-outline-primary btn-block">Update Password</button>
        </form>
    </div>
</main>