<main>
    <div class="header">
        <div class="logo">
            <div>
                <i class="fa fa-ils fa-3x"></i><span>Collabo</span>
            </div>
        </div>
        <div class="landing-btn">
            <a class="btn btn-primary" href="/login">Login</a>
            <a class="btn btn-success" href="/register">Register</a>
        </div>
    </div>

</main>