<main>
    <div class="header">
        <div class="logo">
            <div>
                <i class="fa fa-ils fa-3x"></i><span>Collabo</span>
            </div>
        </div>
        <div class="landing-btn">
        </div>
    </div>

</main>